<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(https://i.redd.it/vrno30rkp1w51.png);">
  <div class="container-xl">
    <div class="d-flex">
      <%# <%= image_tag "2b_default_avatar", class: "avatar-large" THANKS HEROKU! %>
      <img src="https://avatarfiles.alphacoders.com/163/163785.jpg" alt="2B" class="avatar-large">
        <div class="ml-2">
          <h3><%= @user.username %>'s</h3>
          <h1>DASHBOARD</h1>
          <h3 class="profile-stars">★★★★☆</h3>
            <div class="container mt-3">
              <div class="row justify-content-left">
                <div class="btn-primary new-offer-button">
                  <%= link_to "Add New Offer", new_offer_path, :class => "btn", style: "color:white" %>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>

<%# Placeholder code for displaying reviews %>
<%# Needs some syntax fixing because commenting just breaks them %>
<%# <div> %>
<%# <%= link_to "Add new review", new_user_review_path(@user) %>
<%# </div> %>
<%# <ul class="list-group"> %>
<%# <% @user.reviews.each do |review| %>
<%# <li class="list-group-item">Star rating: <%= review.rating %>
<%# <li class="list-group-item">"<%= review.content %>
<%# <li class="list-group-item">Review by <%= review.reviewer_id %>
<%# <% end %>
<%# </ul> %>

<div class="tab">
  <button class="tablinks" onclick="profileTabs(event, 'mylistedgames')">My Listed Games</button>
  <button class="tablinks" onclick="profileTabs(event, 'rentedout')">Rented Out</button>
  <button class="tablinks" onclick="profileTabs(event, 'myrentals')">My Rentals</button>
</div>

<%# Do the <button disabled class = "active-p"> etc need to remain or can it be replaced with <p> index card code> %>
<div id="mylistedgames" class="tabcontent">
  <div class="container">
    <div class="card-deck">
      <% @offers_for_user.each do |offer| %>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="card card-offer-profile p-0 my-3">
            <img src="<%= offer.game.image %>" alt="<%= offer.game.title %>" class="card-index-image">
            <div class="pt-0 px-0">
                <% if offer.platform == "Playstation 4" %>
                  <div class="d-flex justify-content-around">
                    <p class="flex-grow-1 p-2 progress-bar bg-blue"><i class="fab fa-playstation"></i></p>
                    <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fas fa-toggle-on"></i></p>
                    <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fab fa-xbox"></i></p>
                  </div>
                <% elsif offer.platform == "Nintendo Switch" %>
                  <div class="d-flex justify-content-around">
                    <p class="flex-grow-1 p-2 progress-bar bg-secondary"><i class="fab fa-playstation"></i></p>
                    <p class="flex-grow-1 p-2 progress-bar bg-danger width: 30%"><i class="fas fa-toggle-on"></i></p>
                    <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fab fa-xbox"></i></p>
                  </div>
                <% else offer.platform == "Xbox One" %>
                  <div class="d-flex justify-content-around">
                    <p class="flex-grow-1 p-2 progress-bar bg-secondary"><i class="fab fa-playstation"></i></p>
                    <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fas fa-toggle-on"></i></p>
                    <p class="flex-grow-1 p-2 progress-bar bg-success width: 30%"><i class="fab fa-xbox"></i></p>
                  </div>
                <% end %>
              </div>
              <div class="card-body pt-0">
                <h5 class="card-title"><%= offer.game.title %></h5>
                <p class="card-text text-secondary"><%= offer.game.genre %></p>
                <p class="card-text text-secondary">(Available for rent)</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="rentedout" class="tabcontent">
  <div class="container">
    <div class="card-deck">
      <% @user.rentals_as_owner.each do |rental| %>
        <div class="col-lg-3">
          <div class="card card-offer-profile p-0 my-3">
            <img src="<%= rental.offer.game.image %>" alt="<%= rental.offer.game.image %>" class="card-index-image">
            <div class="pt-0 px-0">
              <div class="d-flex justify-content-around">
                <% if rental.offer.platform == "Playstation 4" %>
                  <p class="flex-grow-1 p-2 progress-bar bg-blue"><i class="fab fa-playstation"></i></p>
                  <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fas fa-toggle-on"></i></p>
                  <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fab fa-xbox"></i></p>
                <% elsif rental.offer.platform == "Nintendo Switch" %>
                 <p class="flex-grow-1 p-2 progress-bar bg-secondary"><i class="fab fa-playstation"></i></p>
                  <p class="flex-grow-1 p-2 progress-bar bg-danger width: 30%"><i class="fas fa-toggle-on"></i></p>
                  <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fab fa-xbox"></i></p>
                <% else rental.offer.platform == "Xbox One" %>
                  <p class="flex-grow-1 p-2 progress-bar bg-secondary"><i class="fab fa-playstation"></i></p>
                  <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fas fa-toggle-on"></i></p>
                  <p class="flex-grow-1 p-2 progress-bar bg-success width: 30%"><i class="fab fa-xbox"></i></p>
                <% end %>
              </div>
              <div class="card-body pt-0">
                <h5 class="card-title"><%= rental.offer.game.title %></h5>
                <p class="card-text text-secondary"><%= rental.offer.game.genre %></p>
                <p class="card-text text-secondary">(Rented out to <%= link_to rental.user.username, rental.user %>)</p>
                  <% if rental.status == 'Accepted' %>
                    <%= simple_form_for (rental) do |f| %>
                      <%= f.submit "Return", class: "btn btn-light w-25" %>
                      <%= f.input :status, input_html: { value: 'Returned' }, as: :hidden %>
                    <% end %>
                    <% else %>
                      <% if rental.status == 'Returned' %>
                      <%= rental.status %>
                      <% end %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="myrentals" class="tabcontent">
  <div class="container">
    <div class="card-deck">
      <% @rentals.each do |rental| %>
        <div class="col-lg-3">
          <div class="card card-offer-profile p-0 my-3">
            <img src="<%= rental.offer.game.image %>" alt="<%= rental.offer.game.image %>" class="card-index-image">
            <div class="pt-0 px-0">
              <div class="d-flex justify-content-around">
                <% if rental.offer.platform == "Playstation 4" %>
                  <p class="flex-grow-1 p-2 progress-bar bg-blue"><i class="fab fa-playstation"></i></p>
                  <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fas fa-toggle-on"></i></p>
                  <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fab fa-xbox"></i></p>
                <% elsif rental.offer.platform == "Nintendo Switch" %>
                  <p class="flex-grow-1 p-2 progress-bar bg-secondary"><i class="fab fa-playstation"></i></p>
                  <p class="flex-grow-1 p-2 progress-bar bg-danger width: 30%"><i class="fas fa-toggle-on"></i></p>
                  <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fab fa-xbox"></i></p>
                <% else rental.offer.platform == "Xbox One" %>
                  <p class="flex-grow-1 p-2 progress-bar bg-secondary"><i class="fab fa-playstation"></i></p>
                  <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fas fa-toggle-on"></i></p>
                  <p class="flex-grow-1 p-2 progress-bar bg-success width: 30%"><i class="fab fa-xbox"></i></p>
                <% end %>
              </div>
              <div class="card-body pt-0">
                <h5 class="card-title"><%= rental.offer.game.title %></h5>
                <p class="card-text text-secondary"><%= rental.offer.game.genre %></p>
                <%# Line below: my rentals tab is displaying incorrect rentee %>
                <p class="card-text text-secondary">(Rented from <%= link_to rental.user.username, rental.user %>)</p> 
                  <% if rental.status == 'Pending' %>
                    <%= simple_form_for (rental) do |f| %>
                      <div class="d-flex justify-content-center">
                      <%= f.submit "Return", class: "btn btn-primary return-button flex-grow-1" %>
                      </div>
                      <%= f.input :status, input_html: { value: "Returned #{Date.today}" }, as: :hidden %>
                    <% end %>
                    <% else %>
                      <%= rental.status %>
                  <% end %>
                  <%# - How about adding a 'History' header and moving the rentals there? %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# To Do: Get turbolinks working %>
<script>
function profileTabs(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
