<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(https://i.redd.it/vrno30rkp1w51.png);">
  <div class="container-xl">
    <h3><%= @user.username %>'s</h3>
    <h1>DASHBOARD</h1>
    <h3>★★★★☆</h3>
  </div>
</div>

<div class="container mt-3">
  <button><%= link_to "Add New Offer", new_offer_path %></button>
</div>


<div class="tab">
  <button class="tablinks active" onclick="openCity(event, 'Listed Games')">Listed Games</button>
  <button class="tablinks" onclick="openCity(event, 'Rented Out')">Rented Out</button>
  <button class="tablinks" onclick="openCity(event, 'My Rentals')">My Rentals</button>
</div>

<div id="Listed Games" class="tabcontent">
  <div class="row">
    <% @offers_for_user.each do |offer| %>
      <div class="col-lg-4">
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-6">
        <div class="card-show-category">
           <p><%= offer.game.title %></p>
           <div class="platforms-button m-2">
              <% if offer.game.platform == "Playstation 4" %>
                <button disabled class ="active-p">ps4</button>
                <button disabled class = "disabled-s">switch</button>
                <button disabled class = "disabled-x">xbox</button>
              <% elsif offer.game.platform == "Nintendo Switch"  %>
                <button disabled class = "disabled-p">ps4</button>
                <button disabled class ="active-s">switch</button>
                <button disabled class = "disabled-x">xbox</button>
              <% else %>
                  <button disabled class = "disabled-p">ps4</button>
                  <button disabled class = "disabled-s">switch</button>
                  <button disabled class ="active-x">xbox</button>
               <% end %>
            </div>
        </div>
      </div>
        <div class="col-lg-1">
      </div>
    <% end %>
  </div>
</div>


<div id="Rented Out" class="tabcontent">
<p>Rented out!</p>
<div class="row">
    <% @user.rentals_as_owner.each do |rental| %>
        <p><%= rental.user.username %></p>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-6">
          <div class="card-show-category">
             <p><%= rental.offer.game.title %></p>
             <div class="platforms-button m-2">
                <% if rental.offer.game.platform == "Playstation 4" %>
                  <button disabled class ="active-p">ps4</button>
                  <button disabled class = "disabled-s">switch</button>
                  <button disabled class = "disabled-x">xbox</button>
                <% elsif rental.offer.game.platform == "Nintendo Switch"  %>
                  <button disabled class = "disabled-p">ps4</button>
                  <button disabled class ="active-s">switch</button>
                  <button disabled class = "disabled-x">xbox</button>
                <% else %>
                    <button disabled class = "disabled-p">ps4</button>
                    <button disabled class = "disabled-s">switch</button>
                    <button disabled class ="active-x">xbox</button>
                 <% end %>
               <div class="rent-now my-2">
                 <% if rental.status == 'Accepted' %>
                   <%= simple_form_for (rental) do |f| %>
                       <%= f.submit "Return", class: "btn btn-light w-25" %>
                       <%= f.input :status, input_html: { value: 'Returned' }, as: :hidden %>
                    <% end %>
                  <% else %>
                    <% if rental.status == 'Returned' %>
                     <%= rental.status %>
                    <% end %>
                 <% end %>
               </div>
              </div>
          </div>
        </div>
          <div class="col-lg-1">
        </div>
    <% end %>
  </div>
</div>
</div>

<div id="My Rentals" class="tabcontent">
<p>Rentals!</p>
<div class="row">
    <% @rentals.each do |rental| %>
      <% if rental.offer.user != current_user %>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-6">
          <div class="card-show-category">
             <p><%= rental.offer.game.title %></p>
             <p><%= rental.offer.user.username %></p>
             <div class="platforms-button m-2">
                <% if rental.offer.game.platform == "Playstation 4" %>
                  <button disabled class ="active-p">ps4</button>
                  <button disabled class = "disabled-s">switch</button>
                  <button disabled class = "disabled-x">xbox</button>
                <% elsif rental.offer.game.platform == "Nintendo Switch"  %>
                  <button disabled class = "disabled-p">ps4</button>
                  <button disabled class ="active-s">switch</button>
                  <button disabled class = "disabled-x">xbox</button>
                <% else %>
                    <button disabled class = "disabled-p">ps4</button>
                    <button disabled class = "disabled-s">switch</button>
                    <button disabled class ="active-x">xbox</button>
                 <% end %>
                 <div class="rent-now my-2">
                   <% if rental.status == 'Pending' %>
                     <%= simple_form_for (rental) do |f| %>
                         <%= f.submit "Return", class: "btn btn-light w-25" %>
                         <%= f.input :status, input_html: { value: 'Returned' }, as: :hidden %>
                     <% end %>
                   <% else %>
                     <%= rental.status %>
                   <% end %>
                 </div>
              </div>
          </div>
        </div>
          <div class="col-lg-1">
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
