<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(https://i.redd.it/vrno30rkp1w51.png);">
  <div class="container-xl">
    <div class="d-flex">
      <%# <%= image_tag "2b_default_avatar", class: "avatar-large" THANKS HEROKU! %>
      <img src="https://avatarfiles.alphacoders.com/163/163785.jpg" alt="2B" class="avatar-large">
        <div class="ml-2">
          <h3><%= @user.username %>'s</h3>
          <h1>DASHBOARD</h1>
          <h3 class="profile-stars">★★★★☆</h3> 
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <%= simple_form_for (@offer), class: "new-offer-form"  do |f| %>
            <div class="btn-group user">
              <%= button_tag type: 'button', class: "btn btn-primary shadow-none ps4-button", :onclick => "ps4toggler()" do %>
                <i class="fab fa-playstation"></i>
              <% end %>
              <%= button_tag type: 'button', class: "btn btn-danger shadow-none switch-button", :onclick => "switchtoggler()" do %>
                <i class="fas fa-toggle-on"></i>
              <% end %>
              <%= button_tag type: 'button', class: "btn btn-success shadow-none mr-2 xbox-button", :onclick => "xboxtoggler()" do %>
                <i class="fab fa-xbox"></i>
              <% end %>
              <div class="dropdown-select2">
                  <%= f.association :game, input_html: { class: 'multiple-select'}, :size => "10x10", label: false%>
              </div>
              <%= f.input :platform, collection: @platforms, :as => :hidden %>
              <div class="submit-button">
                <%= f.submit "ADD GAME", class: "btn btn-dark button-text button-index button-user-show btn-md btn-block" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

<%# Placeholder code for displaying reviews %>
<%# Needs some syntax fixing because commenting just breaks them %>
<%# <div> %>
<%# <%= link_to "Add new review", new_user_review_path(@user) %>
<%# </div> %>
<%# <ul class="list-group"> %>
<%# <% @user.reviews.each do |review| %>
<%# <li class="list-group-item">Star rating: <%= review.rating %>
<%# <li class="list-group-item">"<%= review.content %>
<%# <li class="list-group-item">Review by <%= review.reviewer_id %>
<%# <% end %>
<%# </ul> %>

<div class="tab">
  <button class="tablinks" onclick="profileTabs(event, 'mylistedgames')">My Listed Games</button>
  <button class="tablinks" onclick="profileTabs(event, 'rentedout')">Rented Out</button>
  <button class="tablinks" onclick="profileTabs(event, 'myrentals')">My Rentals</button>
</div>

<div id="mylistedgames" class="tabcontent">
  <div class="container">
    <div class="card-deck">
      <% @offers_for_user.each do |offer| %>
        <div class="col-lg-3">
          <div class="card card-offer-profile p-0 my-3">
            <img src="<%= offer.game.image %>" alt="<%= offer.game.title %>">
            <div class="pt-0 px-0">
              <div class="d-flex justify-content-around">
                <% if offer.platform == "Playstation 4" %>
                  <button disabled class = "active-p"><i class="fab fa-playstation"></i></button>
                  <button disabled class = "disabled-s"><i class="fas fa-toggle-on"></i></button>
                  <button disabled class = "disabled-x"><i class="fab fa-xbox"></i></button>
                <% elsif offer.platform == "Nintendo Switch"  %>
                  <button disabled class = "disabled-p"><i class="fab fa-playstation"></i></button>
                  <button disabled class = "active-s"><i class="fas fa-toggle-on"></i></button>
                  <button disabled class = "disabled-x"><i class="fab fa-xbox"></i></button>
                <% else offer.platform == "XBox One" %>
                  <button disabled class = "disabled-p"><i class="fab fa-playstation"></i></button>
                  <button disabled class = "disabled-s"><i class="fas fa-toggle-on"></i></button>
                  <button disabled class = "active-x"><i class="fab fa-xbox"></i></button>
                <% end %>
              </div>
              <div class="card-body pt-0">
                <h5 class="card-title"><%= offer.game.title %></h5>
                <p class="card-text text-secondary"><%= offer.game.genre %></p>
                <p class="card-text text-secondary">(Available for rent)</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="rentedout" class="tabcontent">
  <div class="container">
    <div class="card-deck">
      <% @user.rentals_as_owner.each do |rental| %>
        <div class="col-lg-3">
          <div class="card card-offer-profile p-0 my-3">
            <img src="<%= rental.offer.game.image %>" alt="<%= rental.offer.game.image %>">
            <div class="pt-0 px-0">
              <div class="d-flex justify-content-around">
                <% if rental.offer.platform == "Playstation 4" %>
                  <button disabled class = "active-p"><i class="fab fa-playstation"></i></button>
                  <button disabled class = "disabled-s"><i class="fas fa-toggle-on"></i></button>
                  <button disabled class = "disabled-x"><i class="fab fa-xbox"></i></button>
                <% elsif rental.offer.platform == "Nintendo Switch"  %>
                  <button disabled class = "disabled-p"><i class="fab fa-playstation"></i></button>
                  <button disabled class = "active-s"><i class="fas fa-toggle-on"></i></button>
                  <button disabled class = "disabled-x"><i class="fab fa-xbox"></i></button>
                <% else rental.offer.platform == "XBox One" %>
                  <button disabled class = "disabled-p"><i class="fab fa-playstation"></i></button>
                  <button disabled class = "disabled-s"><i class="fas fa-toggle-on"></i></button>
                  <button disabled class = "active-x"><i class="fab fa-xbox"></i></button>
                <% end %>
              </div>
              <div class="card-body pt-0">
                <h5 class="card-title"><%= rental.offer.game.title %></h5>
                <p class="card-text text-secondary"><%= rental.offer.game.genre %></p>
                <p class="card-text text-secondary">(Rented out to <%= link_to rental.user.username, rental.user %>)</p>
                  <% if rental.status == 'Accepted' %>
                    <%= simple_form_for (rental) do |f| %>
                      <%= f.submit "Return", class: "btn btn-light w-25" %>
                      <%= f.input :status, input_html: { value: 'Returned' }, as: :hidden %>
                    <% end %>
                    <% else %>
                      <% if rental.status == 'Returned' %>
                      <%= rental.status %>
                      <% end %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="myrentals" class="tabcontent">
  <div class="container">
    <div class="card-deck">
      <% @rentals.each do |rental| %>
        <div class="col-lg-3">
          <div class="card card-offer-profile p-0 my-3">
            <img src="<%= rental.offer.game.image %>" alt="<%= rental.offer.game.image %>">
            <div class="pt-0 px-0">
              <div class="d-flex justify-content-around">
                <% if rental.offer.platform == "Playstation 4" %>
                  <button disabled class = "active-p"><i class="fab fa-playstation"></i></button>
                  <button disabled class = "disabled-s"><i class="fas fa-toggle-on"></i></button>
                  <button disabled class = "disabled-x"><i class="fab fa-xbox"></i></button>
                <% elsif rental.offer.platform == "Nintendo Switch"  %>
                  <button disabled class = "disabled-p"><i class="fab fa-playstation"></i></button>
                  <button disabled class = "active-s"><i class="fas fa-toggle-on"></i></button>
                  <button disabled class = "disabled-x"><i class="fab fa-xbox"></i></button>
                <% else rental.offer.platform == "XBox One" %>
                  <button disabled class = "disabled-p"><i class="fab fa-playstation"></i></button>
                  <button disabled class = "disabled-s"><i class="fas fa-toggle-on"></i></button>
                  <button disabled class = "active-x"><i class="fab fa-xbox"></i></button>
                <% end %>
              </div>
              <div class="card-body pt-0">
                <h5 class="card-title"><%= rental.offer.game.title %></h5>
                <p class="card-text text-secondary"><%= rental.offer.game.genre %></p>
                <%# Line below: my rentals tab is displaying incorrect rentee %>
                <p class="card-text text-secondary">(Rented from <%= link_to rental.user.username, rental.user %>)</p> 
                  <% if rental.status == 'Pending' %>
                    <%= simple_form_for (rental) do |f| %>
                      <div class="d-flex justify-content-center">
                      <%= f.submit "Return", class: "btn btn-primary return-button flex-grow-1" %>
                      </div>
                      <%= f.input :status, input_html: { value: 'Status: Returned' }, as: :hidden %>
                    <% end %>
                    <% else %>
                      <%= rental.status %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# To Do: Get turbolinks working %>
<script>
function profileTabs(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}


function ps4toggler() { 
  const switchButton = document.querySelector(".switch-button");
  const ps4 = document.querySelector(".ps4-button");
  const xbox = document.querySelector(".xbox-button");
  ps4.classList.toggle("active");
  xbox.classList.remove("active");
  switchButton.classList.remove("active");
}

function xboxtoggler() { 
  const switchButton = document.querySelector(".switch-button");
  const ps4 = document.querySelector(".ps4-button");
  const xbox = document.querySelector(".xbox-button");
  xbox.classList.toggle("active");
  ps4.classList.remove("active");
  switchButton.classList.remove("active");
}

function switchtoggler() { 
  const switchButton = document.querySelector(".switch-button");
  const ps4 = document.querySelector(".ps4-button");
  const xbox = document.querySelector(".xbox-button");
  switchButton.classList.toggle("active");
  ps4.classList.remove("active");
  xbox.classList.remove("active");
}

function formSubmit() { 
  const form = document.querySelector(".new-offer-form");
  const switchButton = document.querySelector(".switch-button");
  const ps4 = document.querySelector(".ps4-button");
  const xbox = document.querySelector(".xbox-button");

 
}
</script>
<%# CREATE FUNCTION TO SUBMIT PLATFORM AND GAME ON SUBMIT %>