<div class="banner-show">
  <div class="container text-center">
    <div class="col-sm-12 col-md-12 col-lg-12 text-left">
      <br>
      <br>
      <h1><strong>GAME</strong>XCHANGE</h1>
      <div class="d-flex" style="width: 500px;">
        <p class="flex-grow-1 p-1 mb-1 progress-bar bg-blue" style="height: 10px"></p>
        <p class="flex-grow-1 p-1 mb-1 progress-bar bg-danger width: 25%"></p>
        <p class="flex-grow-1 p-1 mb-1 progress-bar bg-warning width: 25%"></p>
        <p class="flex-grow-1 p-1 mb-1 progress-bar bg-info width: 25%"></p>
      </div>
      <h4>Exchange your favorite games with your friends</h4>
      <div class="input-group mb-3">
        <div class="row justify-content">
          <div class="col-lg-10">
            <%= form_tag offers_path, method: :get do %>
              <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a game" %>
            </div>
            <div class="col-lg-2">
              <%= submit_tag "Search", class: "btn btn-dark button-text button-index btn-md" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <p class="btn-lg button-front float-left">Rent any of these games</p>
  </div>
</div>

<div class="container">
  <div class="pag">
    <%= paginate @offers %>
  </div>
  <div class="card-deck" >
    <% @indexed_offers.each do |offer| %>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" data-aos="flip-left">
        <div class="card card-index p-0 my-3 " >
          <img src="<%= offer.game.image %>" alt="<%= offer.game.title %>" class="card-index-image">
          <div class="pt-0 px-0">
            <% if offer.platform == "Playstation 4"%>
              <div class="d-flex justify-content-around">
                <p class="flex-grow-1 p-2 progress-bar bg-blue"><i class="fab fa-playstation"></i></p>
                <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fas fa-toggle-on"></i></p>
                <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fab fa-xbox"></i></p>
              </div>
            <% end %>
            <% if offer.platform == "Nintendo Switch"%>
              <div class="d-flex justify-content-around">
                <p class="flex-grow-1 p-2 progress-bar bg-secondary"><i class="fab fa-playstation"></i></p>
                <p class="flex-grow-1 p-2 progress-bar bg-danger width: 30%"><i class="fas fa-toggle-on"></i></p>
                <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fab fa-xbox"></i></p>
              </div>
            <% end %>
            <% if offer.platform == "Xbox One"%>
              <div class="d-flex justify-content-around">
                <p class="flex-grow-1 p-2 progress-bar bg-secondary"><i class="fab fa-playstation"></i></p>
                <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fas fa-toggle-on"></i></p>
                <p class="flex-grow-1 p-2 progress-bar bg-success width: 30%"><i class="fab fa-xbox"></i></p>
              </div>
            <% end %>
            <div class="card-body pt-0">
              <h5 class="card-title"><%= offer.game.title %></h5>
              <p class="card-text text-secondary"><%= offer.game.genre %></p>
            </div>
          </div>
          <button type="button" class="btn btn-dark button-text button-index btn-lg btn-block"><%= link_to "CHECK OUT", offer_path(offer) %></button>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pag">
    <%= paginate @offers %>
  </div>
</div>

<script>
  AOS.init({
    duration: 600,
  });
</script>
