<div class="banner-show">
  <div class="container text-center">
    <div class="col-sm-12 col-md-12 col-lg-12 text-left">
      <br>
      <br>
      <h1>Welcome to GameXchange</h1>
      <h4>Exchange your favorite games with your friends.</h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="card-deck">
    <% @offers.each do |offer| %>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="card card-index p-0 my-3">
          <img src="<%= offer.game.image %>" alt="<%= offer.game.title %>" class= "card-index-image">
          <div class="pt-0 px-0">
            <% if offer.game.platform == "Playstation 4"%>
              <div class="d-flex justify-content-around">
                <p class="flex-grow-1 p-2 progress-bar bg-blue"><i class="fab fa-playstation"></i></p>
                <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fas fa-toggle-on"></i></p>
                <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fab fa-xbox"></i></p>
              </div>
            <% end %>
            <% if offer.game.platform == "Nintendo Switch"%>
              <div class="d-flex justify-content-around">
                <p class="flex-grow-1 p-2 progress-bar bg-secondary"><i class="fab fa-playstation"></i></p>
                <p class="flex-grow-1 p-2 progress-bar bg-danger width: 30%"><i class="fas fa-toggle-on"></i></p>
                <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fab fa-xbox"></i></p>
              </div>
            <% end %>
            <% if offer.game.platform == "Xbox One"%>
              <div class="d-flex justify-content-around">
                <p class="flex-grow-1 p-2 progress-bar bg-secondary"><i class="fab fa-playstation"></i></p>
                <p class="flex-grow-1 p-2 progress-bar bg-secondary width: 30%"><i class="fas fa-toggle-on"></i></p>
                <p class="flex-grow-1 p-2 progress-bar bg-success width: 30%"><i class="fab fa-xbox"></i></p>
              </div>
            <% end %>
            <div class="card-body pt-0">
              <h5 class="card-title"><%= offer.game.title %></h5>
              <p class="card-text text-secondary"><%= offer.game.genre %></p>
            </div>
          </div>
          <button type="button" class="btn btn-dark button-text button-index btn-lg btn-block"><%= link_to "CHECK OUT", offer_path(offer) %></button>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- <div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6 text-left">
    <% @offers.each do |offer| %>
      <div class="card card-show">
        <img src="<%= offer.game.image %>" alt="<%= offer.game.title %>">
        <div class="review-user">
          <h3><%= link_to offer.game.title, offer_path(offer) %></h3>
          <p><%= offer.game.genre %></p>
        </div>
        <div class="platforms">
          <div class="platforms-button-">
            <% if offer.game.platform == "Playstation 4" %>
              <button disabled class ="active-p">ps4</button>
              <button disabled class = "disabled-s">switch</button>
              <button disabled class = "disabled-x">xbox</button>
            <% elsif offer.game.platform == "Nintendo Switch"  %>
              <button disabled class = "disabled-p">ps4</button>
              <button disabled class ="active-s">switch</button>
              <button disabled class = "disabled-x">xbox</button>
            <% else %>
              <button disabled class = "disabled-p">ps4</button>
              <button disabled class = "disabled-s">switch</button>
              <button disabled class ="active-x">xbox</button>
            <% end %>
            <div class="rent-now">
              <button class="btn btn-primary w-100">Rent</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <% offer.rentals.each do |rental| %>
        <%= rental.status %>
      <% end %>
      <br>
    <% end %> -->
