<!DOCTYPE html>
<html>
  <head>
    <title>GameXchange</title>
    <meta name="description" content="gameXchange App" />
    <meta name="title" property="og:title" content="gameXchange" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/50911153543_da124cfc24.jpg" />
    <meta name="description" property="og:description" content="gameXchange App" /><meta name="author" content="Jacob Iyamu, Lawrence Kroll, Nick Roma, David Smith" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <%= yield %>
  </body>
</html>
